.sidebar-container {
  position: absolute;
  height: 100dvh;
  border: 3px solid whitesmoke;
  background-color: #242424;

  .sidebar-content {
    color: white;
    height: 95%;
  }

  .sidebar-account-overview {
    color: black;
    display: grid;
    width: 85%;
    height: 15%;
    margin: 0 auto;
    background-color: aliceblue;
    align-items: center;

    .account-overview-item {
      display: flex;
      justify-content: space-between;
      width: 95%;
      margin: 0 auto;
    }
  }

  .sidebar-manage-accounts {
    position: relative;
    color: black;
    width: 85%;
    height: 60%;
    margin: 0 auto;
    overflow: auto;
    background-color: aliceblue;

    .sidebar-add-account-button {
      position: absolute;
      left: 0;
      font-size: 1.5em;
      background-color: #007bff;

      &:hover {
        cursor: pointer;
        background-color: #0033ff;
      }
    }

    .sidebar-add-account-button-user {
      position: absolute;
      left: 0;
      font-size: 2em;
      background-color: #007bff;

      &:hover {
        cursor: pointer;
        background-color: #0033ff;
      }
    }

    .sidebar-accounts {
      display: grid;
      margin-top: 3em;
      gap: 1em;
    }
  }
}
