.homepage-container {
  text-align: center;
  padding: 50px;

  .homepage-profileimg {
    width: 100px;
  }

  h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.25rem;
    margin-bottom: 30px;
  }

  .get-started-button {
    padding: 10px 20px;
  }
}
