.homepage-container {
  display: flex;
  flex-direction: column;
  height: 90dvh;

  .homepage-profileimg {
    width: 100px;
  }

  h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.25rem;
    margin-bottom: 30px;
  }

  .get-started-button {
    font-size: 1.5rem;
    width: 50%;
    margin: 0 auto;
  }
}
