.nav-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 95%;
  margin: 0 auto;

  .nav-header {
    grid-column: 1 / -1;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 50px;

    .nav-header-title {
      display: flex;
      justify-content: center;
      align-items: center;

      .nav-logo {
        width: 50px;
      }
    }

    .nav-theme-switcher-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 0.5em;

      .nav-theme-switcher-outer-box {
        position: relative;
        width: 50px;
        height: 25px;

        .nav-theme-switcher-inner-box {
          position: absolute;
          width: 25px;
          height: 23px;
          z-index: 1;
          transition: transform 0.3s ease-in-out;
        }

        #nav-light-logo,
        #nav-dark-logo {
          position: absolute;
          font-size: 20px;
          top: 2px;
          transition: opacity 0.3s ease-in-out;
        }

        #nav-dark-logo {
          left: 2px;
          color: whitesmoke;
          opacity: 1;
        }

        #nav-light-logo {
          right: 2px;
          color: black;
          opacity: 1;
        }
      }
    }
  }

  .nav-links-container {
    grid-column: 1 / -1;
    grid-row: 2;
    padding: 0.5em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;

    .nav-link {
      text-align: center;
      border: 3px solid black;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.theme-switcher-dark {
  .nav-theme-switcher-inner-box {
    transform: translateX(25px);
  }
}

.theme-switcher-light {
  .nav-theme-switcher-inner-box {
    transform: translateX(0);
  }
}

.nav-modal {
  .auth-buttons-container {
    display: flex;
    justify-content: space-around;
  }
  .auth-button {
    margin-top: 1em;
  }

  .nav-modal-footer {
    display: flex;
    justify-content: center;

    .toggle-form {
      color: #0a58ca;
      margin-top: 1em;

      &:hover {
        cursor: pointer;
        color: rgb(35, 200, 200);
      }
    }
  }
}
