.transactions-container {
  padding: 2rem;

  .transaction-toggle-button {
    padding: 8px 16px;
    margin: 0 5px;
    border: 1px solid #ddd;
    background: white;
    cursor: pointer;

    &.active {
      background: #007bff;
      color: white;
      border-color: #007bff;
    }
  }

  .income {
    color: #28a745;
  }

  .expense {
    color: #dc3545;
  }

  .chart-section {
    display: grid;
    grid-template-columns: 1fr 400px;
    margin-bottom: 3rem;

    .pie-chart {
      grid-column: 1;
    }

    .money-summary {
      grid-column: 2;
      padding: 1rem;
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  }

  .transactions-crud-buttons {
    display: flex;
    justify-content: space-evenly;
  }

  .history-section {
    display: flex;
    justify-content: space-between;

    .transaction-history,
    .stock-market {
      width: 48%;
    }

    .positive {
      color: green;
    }

    .negative {
      color: red;
    }
  }
}
